<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRv8curGcSEm1BP0L8PG-tN6mLGcdDYMc</string>
	<key>GCM_SENDER_ID</key>
	<string>807911397261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.BituTest</string>
	<key>PROJECT_ID</key>
	<string>bitutest-7cefe</string>
	<key>STORAGE_BUCKET</key>
	<string>bitutest-7cefe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807911397261:ios:0d7f96646035b723834fc4</string>
</dict>
</plist>